<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Boss | Hamzaalalach.com</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="scripts/respond.min.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png" />
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png" />
	<link rel="manifest" href="images/favicons/manifest.json" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png" />
	<meta name="theme-color" content="#ffffff" />
	<link rel="stylesheet" type="text/css" href="styles/boss.css" />
	<link rel="stylesheet" type="text/css" href="styles/css/font-awesome.min.css" />
  <script src="//use.edgefonts.net/merienda-one;aclonica;nova-mono.js"></script>
</head>
<body>
  <section id="left">
    <div id="post">
      <h1>new story</h1>
      <input type="text" name="title" placeholder="Title" id="title" />
      <select id="category">
				<option value="0">Category</option>
        <option value="about me">About me</option>
        <option value="blog">Blog</option>
        <option value="portfolio">Portfolio</option>
      </select>
      <select id="size">
				<option value="0">Size</option>
        <option value="s">Small</option>
        <option value="m">Medium</option>
        <option value="l">Large</option>
      </select>
      <textarea id="content" rows="8" cols="60"></textarea>
			<div id="postOptions">
				<button id="cancelPost">Cancel</button><button id="postBtn">Post</button>
			</div>
    </div>
    <div id="info">

    </div>
  </section>
	<section id="right">
	</section>
  <script src="scripts/loBoss.js"></script>
</body>
</html>
