@charset "UTF-8";

header, section, footer, aside, nav, main, article, figure {
    display: block;
}
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #060B14;
}
body aside {
	display: relative;
	height: 100%;
	background-color: #1560FB;
	width: 25%;
	float: left;
	display: inline;
}
body aside header {
	position: relative;
	height: 50%;
	text-align: center;
	top: 1em;
}
body aside header div#img img {
	width: 13em;
	-webkit-border-radius: 20em;
	-khtml-border-radius: 20em;  
	-moz-border-radius: 20em;
	border-radius: 20em;
	box-shadow: 0 0 1.5em #333;
}
body aside header ul {
	position: relative;
	padding: 0;
	margin: 0;
}
body aside header li {
	line-height: 7em;
	position: relative;
	list-style-type: none;
	display: inline;
	margin-right: 1em;
}
body aside header li a {
	color: #FFF;
	text-decoration: none;
}
body aside header li a:hover {
	color: #F2E394;
	transition: color 0.3s linear;
}
body aside nav {
	position: relative;
	height: 43%;
}
body aside nav ul {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
body aside nav ul li {
	position: relative;
	list-style-type: none;
	display: block;
	width: 100% - 0.5em;
	margin-top: 1em;
	background-color: #000;
	border-left: 0.5em solid #00FFF6;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: nova-mono, sans-serif;
	font-size: 1.3em;
	cursor: pointer;
	text-shadow: 0.05em 0.05em 0.1em #000;
	line-height: 3em;
	color: #FFF;
	transition: background-color 0.3s linear;
}
body aside nav ul li:hover {
	background-color: #1560FB;
	border-left: 0.5em solid #1560FB;
	transition: background-color 0.3s linear;
}
body aside footer {
	 position: relative;
	 text-align: center;
	 margin: 0;
	 height: 7% - 1em;
}
body aside footer p {
	font-family: aclonica, sans-serif;
	font-size: 1.2em;
	color: #FFF;
	display: inline;
	top: 100%;
}
body aside footer p span {
	color: #FF0000;
}
body aside footer p span:hover:before {
	content: "\f21e";
}
section#container {
	position: relative;
	width: 75%;
	float: right;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
section#container div#popUpContainer {
	position: absolute;
	display: none;
	width: 350px;
	height: 450px;
	background-color: #333;
	color: #FFF;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 1em #000;
}
section#container div#popUpContainer div#header {
	position: relative;
	display: table;
	top: 0;
	width: 100%;
	height: 2em;
	background-color: #222;
	box-shadow: 0 0 0.5em #000;
}
section#container div#popUpContainer div#header p {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
	font-family: nova-mono, sans-serif;
	font-weight: bolder;
	color: #1560FB;
}
section#container div#popUpContainer div#header span {
	float: right;
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
	background-color: #060B14;
	color: #FFF;
	font-weight: bolder;
	text-align: center;
	width: 1em;
	cursor: pointer;
	transition: background-color, color 1s ease;
}
section#container div#popUpContainer div#header span:hover {
	color: #060B14;
	background-color: #333;
	transition: background-color, color 1s ease;
}
section#container div#popUpContainer ul#aside {
	float: right;
	font-family: merienda-one, cursive;
	font-size: 0.7em;
}
section#container div#popUpContainer ul#aside li {
	position: relative;
	list-style-type: none;
	text-align: right;
	background-color: #222;
	padding: 0 1em;
	margin-top: 0.3em;
	border-left: 0.2em solid #FFF; 
	border-top-left-radius: 3em;
}
section#container div#popUpContainer article#mainContent {
	padding: 0.7em;
	text-align: justify;
	font-family: merienda-one, cursive;
	font-size: 0.8em;
}
.box {
	position: absolute;
	z-index: 0;
	display: table;
	padding: 0;
	color: #FFF;
	float: left;
	font-family: aclonica, sans-serif;
	font-size: 0.9em;
	text-shadow: 0 0 1em #333;
	-webkit-border-radius: 200em;
	-khtml-border-radius: 200em;  
	-moz-border-radius: 200em;
	border-radius: 200em;
	box-shadow: 0 0 0.5em #FFF;
	cursor: pointer;
}
.bxDetContainer {
	position: relative;
	display: none;
    vertical-align: middle;
	text-align: center;
	width: 100%;
}
.boxTitle {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}
.boxDetails {
    vertical-align: middle;
	position: relative;
	text-align: center;
}
@media all and (max-height: 700px) {
	body aside {
		font-size: 0.8em;
	}
}
@media all and (max-height: 570px) {
	body aside {
		font-size: 0.7em;
	}
}
@media all and (max-height: 480px) {
	body aside {
		font-size: 0.6em;
	}
}