@charset "UTF-8";

header, section, footer, aside, nav, main, article, figure {
    display: block;
}
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #060B14;
}
aside {
	display: relative;
	height: 100%;
	background-color: #1560FB;
	width: 25%;
	float: left;
	display: inline;
}
aside header {
	position: relative;
	height: 50%;
	text-align: center;
	top: 1em;
}
aside header div#img img {
	width: 13em;
	-webkit-border-radius: 20em;
	-khtml-border-radius: 20em;  
	-moz-border-radius: 20em;
	border-radius: 20em;
	box-shadow: 0 0 1.5em #333;
}
aside header ul {
	position: relative;
	padding: 0;
	margin: 0;
}
aside header li {
	line-height: 7em;
	position: relative;
	list-style-type: none;
	display: inline;
	margin-right: 1em;
	right: -1em;
}
aside header li a {
	color: #FFF;
	text-decoration: none;
}
aside header li a:hover {
	color: #F2E394;
	transition: color 0.3s linear;
}
aside nav {
	position: relative;
	height: 43%;
}
aside nav ul {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
aside nav ul li {
	position: relative;
	list-style-type: none;
	display: block;
	width: 100% - 0.5em;
	margin-top: 1em;
	background-color: #000;
	border-left: 0.5em solid #00FFF6;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: nova-mono, sans-serif;
	font-size: 1.3em;
	cursor: pointer;
	text-shadow: 0.05em 0.05em 0.1em #000;
	line-height: 3em;
	color: #FFF;
	transition: background-color 0.3s linear;
}
aside nav ul li:hover {
	background-color: #1560FB;
	border-left: 0.5em solid #1560FB;
	transition: background-color 0.3s linear;
}
aside footer {
	 position: relative;
	 text-align: center;
	 margin: 0;
	 height: 7% - 1em;
}
aside footer a#arrow {
	display: none;
}
aside footer p {
	font-family: aclonica, sans-serif;
	font-size: 1.2em;
	color: #FFF;
	display: inline;
	top: 100%;
}
aside footer p span {
	color: #FF0000;
}
aside footer p span:hover:before {
	content: "\f21e";
}
section#container {
	position: relative;
	width: 75%;
	float: right;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
section#container div#popUpContainer {
	position: absolute;
	display: none;
	width: 350px;
	height: 450px;
	background-color: #333;
	color: #FFF;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 1em #000;
}
section#container div#popUpContainer div#header {
	position: relative;
	display: table;
	top: 0;
	width: 100%;
	height: 2em;
	background-color: #222;
	box-shadow: 0 0 0.5em #000;
}
section#container div#popUpContainer div#header p {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
	font-family: nova-mono, sans-serif;
	font-weight: bolder;
	color: #1560FB;
}
section#container div#popUpContainer div#header span {
	float: right;
	display: table-cell;
	vertical-align: middle;
	font-size: 2em;
	background-color: #060B14;
	color: #FFF;
	font-weight: bolder;
	text-align: center;
	width: 1em;
	cursor: pointer;
	transition: background-color, color 1s ease;
}
section#container div#popUpContainer div#header span:hover {
	color: #060B14;
	background-color: #333;
	transition: background-color, color 1s ease;
}
section#container div#popUpContainer ul#aside {
	float: right;
	font-family: merienda-one, cursive;
	font-size: 0.7em;
}
section#container div#popUpContainer ul#aside li {
	position: relative;
	list-style-type: none;
	text-align: right;
	background-color: #222;
	padding: 0 1em;
	margin-top: 0.3em;
	border-left: 0.2em solid #FFF; 
	border-top-left-radius: 3em;
}
section#container div#popUpContainer article#mainContent {
	padding: 0.7em;
	text-align: justify;
	font-family: merienda-one, cursive;
	font-size: 0.8em;
}
.box {
	position: absolute;
	z-index: 0;
	display: table;
	padding: 0;
	color: #FFF;
	float: left;
	font-family: aclonica, sans-serif;
	font-size: 0.9em;
	text-shadow: 0 0 1em #333;
	-webkit-border-radius: 200em;
	-khtml-border-radius: 200em;  
	-moz-border-radius: 200em;
	border-radius: 200em;
	box-shadow: 0 0 0.5em #FFF;
	cursor: pointer;
}
.bxDetContainer {
	position: relative;
	display: none;
    vertical-align: middle;
	text-align: center;
	width: 100%;
}
.boxTitle {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}
.boxDetails {
    vertical-align: middle;
	position: relative;
	text-align: center;
}
.active {
	background-color: #00FFF6;
}
@media all and (max-height: 700px) {
	aside {
		font-size: 0.8em;
	}
}
@media all and (max-height: 570px) {
	aside {
		font-size: 0.7em;
	}
}
@media all and (max-height: 480px) {
	aside {
		font-size: 0.6em;
	}
}
@media all and (max-width: 1200px) {
	aside {
		font-size: 0.7em;
	}
	aside footer p {
		font-size: 0.9em;
	}
	.box {
		font-size: 0.7em;
	}
}
@media all and (max-width: 900px) {
	aside {
		font-size: 0.6em;
	}
	aside footer p {
		font-size: 0.8em;
	}
	.box {
		font-size: 0.5em;
	}
}
@media all and (max-width: 700px) {
	aside {
		width: 100%;
		font-size: 1em;
		box-shadow: 0 0 2em #666;
	}
	aside header {
		height: 80%;
		text-shadow: 0 0 1em #FFF;
	}
	aside nav {
		display: none;
	}
	aside footer {
		height: 20%;
	}
	aside footer a#arrow {
		display: block;
		text-decoration: none;
		position: relative;
		width: 2em;
		color: #FFF;
		margin: auto;
		font-size: 2em;
		margin-bottom: 1em;
		animation: arrow 1.5s ease alternate infinite;
		-webkit-animation: arrow 1.5s ease alternate infinite;
	}
	aside footer p {
		font-size: 1em;
	}
	section#container {
		width: 100%;
	}
	.box {
		position: relative;
		width: 100%;
		border-radius: 0;
		clear: both;
		height: 12em;
		top: 1em;
	}
	.boxTitle {
		position: relative;
		float: left;
		width: 60%;
	}
	.bxDetContainer {
		display: inline;
		float: right;
		width: 40%;
	}
}
@keyframes arrow {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(20px);
	}
}
@-webkit-keyframes arrow {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(20px);
	}
}